/*Imagen principal*/
.inicio {
  --opacidad-negro: 0.4;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ),
    url("../img/DreamShaper_v7_Ropa_para_hombre_3.webp");
  background-position: center;
  background-size: cover;
  height: 65rem;
}
/*Tamaño del color del Logo*/
.navbar-brand {
  font-size: 1.3rem;
  color: #FFFFFF;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: #FFFFFF;
}
/*Color del fondo del Navbar*/
.navbar {
  background-color: #385061;
}
/*Caracteristicas de los Nav-item*/
.nav-item {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}
/*Texto de las tarjetas*/
.card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  text-align: center;
}
.basicos{
  .card{
    width: 18rem;
    background-color: #385061;
    .card-title{
      font-size: 1.3rem;
      color: #FFFFFF;
      font-family: 'Bebas Neue',sans-serif;
      text-align: center;
    }
    .card-text{
      font-size: 0.9rem;
      color: #90CDFA;
    }
  }
}
.urbano{
  .card{
    width: 18rem;
    background-color: #333643;
    .card-title{
      font-size: 1.3rem;
      color: #FFFFFF;
      font-family: 'Bebas Neue',sans-serif;
      text-align: center;
    }
    .card-text{
      font-size: 0.9rem;
      color: #CCC1A3;
    }
  }
}
.camisas{
  .card{
    width: 18rem;
    background-color: #CCC4B8;
    .card-title{
      font-size: 1.3rem;
      color: #FFFFFF;
      font-family: 'Bebas Neue',sans-serif;
      text-align: center;
    }
    .card-text{
      font-size: 0.9rem;
      color: #1C477A;
    }
  }
}
.polos{
  .card{
    width: 18rem;
    background-color: #7C292E;
    .card-title{
      font-size: 1.3rem;
      color: #FFFFFF;
      font-family: 'Bebas Neue',sans-serif;
      text-align: center;
    }
    .card-text{
      font-size: 0.9rem;
      color: #E0DB96;
    }
  }
}
.footer{
  background-color: #385061;
  text-align: center;
  #politicas{
    color: white;
  }
}