/*Tamaño del color del Logo*/
.navbar-brand {
  font-size: 1.3rem;
  color: #ffffff;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: #ffffff;
}
/*Color del fondo del Navbar*/
.navbar {
  background-color: #385061;
}
/*Características de los Nav-item*/
.nav-item {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}
/*Footer*/
.footer {
  background-color: #385061;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1.6rem;
  #politicas {
    color: white;
    font-size: 1.3rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: normal;
    word-spacing: 0.5rem;
  }
}
