/*Imagen principal*/
.inicio {
  --opacidad-negro: 0.4;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ),
    url("../img/Fondo_urbanos.webp");
  background-position: center;
  background-size: cover;
  height: 65rem;
}
/*Tamaño del color del Logo*/
.navbar-brand {
  font-size: 1.3rem;
  color: #ffffff;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: #ffffff;
}
/*Color del fondo del Navbar*/
.navbar {
  background-color: #385061;
}
/*Características de los Nav-item*/
.nav-item {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}
/*Texto de las tarjetas*/
.card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  text-align: center;
}
.urbano {
  .card {
    width: 18rem;
    background-color: #567687;
    .card-title {
      font-size: 1.3rem;
      color: #ffffff;
      font-family: "Bebas Neue", sans-serif;
      text-align: center;
    }
    .card-text {
      font-size: 0.9rem;
      color: #90cdfa;
    }
  }
}
.footer {
  background-color: #385061;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1.6rem;
  #politicas {
    color: white;
    font-size: 1.3rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: normal;
    word-spacing: 0.5rem;
  }
}
